* {
    box-sizing: border-box;
    direction: rtl;
    text-align: justify;
}

/*-----------------------
    Header section 
-----------------------*/

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid rgb(43, 159, 226);
    background-color: rgb(43, 159, 226);
}

#header h1 {
    color: white;
    text-shadow: 1px 1px black;
    direction: ltr;
}

/*----------------------- 
    Navbar section 
-----------------------*/

#main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

/*----------------------- 
    Navbar section 
-----------------------*/


#nav-bar a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
}

#nav-bar li:hover {
    background-color: #ff961e;
}

#nav-bar ul {
    list-style: none;
    padding: 0;
}

#nav-bar li {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fb8500;
    height: 40px;
    border-radius: 10px;
    margin: 10px 0;
    background-color: #fb8500;
}

/*----------------------- 
    Aside section 
-----------------------*/

#aside {
    border: 1px solid #fb8500;
    background-color: #fb8500;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    direction: rtl;
    line-height: 10px;
    line-height: normal;
}

/*----------------------- 
    Footer section 
-----------------------*/

#footer {
    margin-top: 20px;
    border: 1px solid #fb7100;
    background-color: #fb7100;
    border-radius: 20px;
    color: white;
    text-shadow: 1px 1px black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
}


/*----------------------- 
    For mobile phones 
-----------------------*/

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/*----------------------- 
    For Tablet 
-----------------------*/

@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}


/*----------------------- 
    For desktop 
-----------------------*/

@media only screen and (min-width: 860px) {
    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}
}
